{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Timeless One-Page HTML Template</title>
<!-- 

Timeless Template 

http://www.templatemo.com/tm-517-timeless

-->
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static "timeless/css/bootstrap.min.css" %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static "timeless/css/templatemo-style.css" %}">
    <!-- Templatemo style -->
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="text-center tm-site-header">
                    <div class="tm-site-logo"></div>
                    <h1 class="pl-4 tm-site-title">Borescope</h1>
                </header>
            </div>
        </div>
        <div class="row" id="video">
            <img src="{% url 'video_feed' %}" >
            <button onclick="makeFullScreen()">Make Full Screen</button>
        </div>
        </div>
    <!-- .container -->

    <script src="{% static "timeless/js/jquery.min.js" %}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{% static "timeless/js/templatemo-script.js" %}"></script>

</body>
</html>
